<div class="container">
    <div class="main-footer section-b-space">
        <div class="row g-md-4 g-3">
            <!-- COLLECTIONS Section -->
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6"
                (click)="toggle('collections')">
                <div class="footer-column-minimal">
                    <div class="footer-title-minimal" [class.show]="active['collections']">
                        <h4>COLLECTIONS</h4>
                        <i class="ri-arrow-down-s-line toggle-icon"></i>
                    </div>
                    <div class="footer-content-minimal" [class.expanded]="active['collections']">
                        <app-footer-categories [data]="data"></app-footer-categories>
                        <ul class="footer-list-minimal" *ngIf="!data?.footer?.footer_categories?.length">
                            <li><a routerLink="/collections" href="/collections">Kurtas & Kurtis</a></li>
                            <li><a routerLink="/collections" href="/collections">Ethnic Sets</a></li>
                            <li><a routerLink="/collections" href="/collections">Ethnic Sets with Dupatta</a></li>
                            <li><a routerLink="/collections" href="/collections">Dresses</a></li>
                            <li><a routerLink="/collections" href="/collections">Co-ord Sets</a></li>
                            <li><a routerLink="/collections" href="/collections">Bottom Wear</a></li>
                            <li><a routerLink="/collections" href="/collections">Tunics</a></li>
                            <li><a routerLink="/collections" href="/collections">Autumn Winter 25</a></li>
                            <li><a routerLink="/collections" href="/collections">All Collections</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- USEFUL LINKS Section -->
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6"
                (click)="toggle('useful_link')">
                <div class="footer-column-minimal">
                    <div class="footer-title-minimal" [class.show]="active['useful_link']">
                        <h4>USEFUL LINKS</h4>
                        <i class="ri-arrow-down-s-line toggle-icon"></i>
                    </div>
                    <div class="footer-content-minimal" [class.expanded]="active['useful_link']">
                        <ul class="footer-list-minimal">
                            <li><a routerLink="/term-condition" title="Terms &amp; Conditions" href="/term-condition">Terms &amp; Conditions</a></li>
                            <li><a routerLink="/privacy-policy" title="Privacy Policy" href="/privacy-policy">Privacy Policy</a></li>
                            <li><a routerLink="/refund-and-cancellation" title="Refund and Cancellation Policy" href="/refund-and-cancellation">Refund and Cancellation Policy</a></li>
                            <li><a routerLink="/return-policy" title="Return Policy" href="/return-policy">Return Policy</a></li>
                            <li><a routerLink="/shipping-policy" title="Shipping Policy" href="/shipping-policy">Shipping Policy</a></li>
                            <li><a routerLink="/page/about-us" title="About Us" href="/page/about-us">About Us</a></li>
                            <li><a routerLink="/Contact-Us" title="Contact Us" href="/Contact-Us">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- NEWSLETTER Section -->
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="footer-column-minimal">
                    <div class="footer-title-minimal">
                        <h4>NEWSLETTER</h4>
                    </div>
                    <div class="footer-content-minimal newsletter-section">
                        <p class="newsletter-description">Sign up to Get exclusive offers, latest collections, and style tips!</p>
                        <div class="newsletter-form">
                            <input 
                                type="email" 
                                class="newsletter-input" 
                                placeholder="E-mail" 
                                [formControl]="email"
                                (keyup.enter)="submitNewsletter()">
                            <button 
                                type="button" 
                                class="newsletter-button" 
                                (click)="submitNewsletter()"
                                [disabled]="isSubmitting">
                                <span *ngIf="!isSubmitting">SUBSCRIBE</span>
                                <span *ngIf="isSubmitting">...</span>
                            </button>
                        </div>
                        <div class="newsletter-error" *ngIf="email.touched && email.errors?.['email']">
                            Please enter a valid email address
                        </div>
                    </div>
                </div>
            </div>

            <!-- ADDRESS Section -->
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="footer-column-minimal">
                    <div class="footer-title-minimal">
                        <h4>ADDRESS</h4>
                    </div>
                    <div class="footer-content-minimal address-section">
                        <ul class="address-list-minimal">
                            <li>
                                <a href="https://www.google.com/maps" target="_blank" title="View on Google Maps">
                                    UNIT NO. 10104, 10th FLOOR, GAUR CITY MALL, SECTOR-4, GREATER NOIDA WEST, Gautam Buddha Nagar, Uttar Pradesh, India - 201318
                                </a>
                            </li>
                            <li class="contact-info-group">
                                <a href="mailto:info&#64;mangalfashion.com" title="Send us an email">
                                    info&#64;mangalfashion.com
                                </a>
                              
                            </li>
                            <li class="pt-2">
                                <span class="cin-info">CIN: U02005UP2016PTC076855</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Sub Footer -->
    <div class="sub-footer-modern section-small-space">
        <div class="sub-footer-content">
            <div class="reserve-modern" *ngIf="data?.footer?.footer_copyright">
                <app-footer-copyright [data]="data"></app-footer-copyright>
            </div>
            <app-footer-social-links [data]="data" *ngIf="data?.footer?.social_media_enable"></app-footer-social-links>
        </div>
    </div>
    
    <!-- Back to Top Button -->
    <button class="back-to-top-button" [class.show]="showBackToTop" (click)="scrollToTop()" type="button" title="Back to Top">
        <i class="ri-arrow-up-line"></i>
    </button>
</div>